body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  font-weight: 800;
}

*:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

.gooball svg {
  overflow: visible;
}

.mlh-badge {
  display: block;
  max-width: 100px;
  min-width: 60px;
  position: fixed;
  right: 50px;
  top: 0;
  width: 10%;
  z-index: 10000;
}

.mlh-badge img {
  width: 100%;
}

@keyframes blob-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.goo-particle {
  animation-iteration-count: 1;
}
@media (min-width: 540px) {
  .goo-particle {
    animation-iteration-count: infinite;
  }
  @keyframes blob-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.intro {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 1.6em;
  position: relative;
  margin-top: -150px;
  margin-bottom: 60px;
}

.about {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 1.3em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
  margin-bottom: 60px;
  z-index: 1;
}

.about-bg {
  position: absolute;
  top: -30px;
  left: -30px;
  bottom: -30px;
  right: -30px;
  transform: rotate(-1deg);
  display: block;
  overflow: hidden;
  border-radius: 240% 0% 240% 0% / 25% 130% 25% 130%;
}

.about-bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-bg-grad {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, #ff5367 0%, #fa5e3e 100%);
  opacity: 0.8;
}

.about-content {
  position: relative;
}

.faqs {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 1.4em;
  position: relative;
}

.schedule {
  padding-top: 60px;
  padding-bottom: 80px;
  font-size: 1.28em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
  position: relative;
  /* background-image: linear-gradient(0deg, #ff5367 0%, #fa5e3e 100%); */
  background-image: linear-gradient(0deg, #ff5367f7 0%, #fa5e3ea6 100%);
  margin-bottom: 60px;
}

.schedule .days {
  display: flex;
  flex-wrap: wrap;
}

.schedule .days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.schedule h2 {
  margin-bottom: 16px;
}

.schedule .day {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
}

.schedule .day h3 {
  font-size: 1.25em;
}

@media (min-width: 490px) {
  .schedule .day {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 33.33%;
    flex: 1 1 33.33%;
  }
}

.schedule .day .times {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0.9em;
  line-height: 1.4em;
}

@media (min-width: 760px) {
  .schedule .day .times {
    padding-right: 16px;
  }
}

.schedule .day .times li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}

.schedule .day .times .time {
  font-weight: bold;
  display: inline-block;
  margin-right: 20px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.sponsors h2 {
  font-size: 2em;
}

.sponsors-container .tier {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.sponsors-container .tier .logo-wrap {
  flex: 1 1 48%;
  display: inline-block;
  margin-bottom: 20px;
}

.sponsors-container .tier .logo-wrap a {
  display: block;
  text-align: center;
}

.sponsors-container .tier .logo-wrap img {
  max-width: 380px;
  max-height: 150px;
  height: auto;
}

.sponsors-container .tier.tier-12 .logo-wrap {
  flex: 1 1 33%;
}

.sponsors-container .tier.tier-12 .logo-wrap img {
  max-width: 200px;
  max-height: 80px;
  height: auto;
}

.footer {
  text-align: center;
  padding: 24px;
  color: white;
  font-size: 14px;
  background-image: linear-gradient(0deg, #ff5367 0%, #fa5e3e 100%);
}

.footer a {
  color: white;
  padding: 8px;
}

.footer .social-media {
  margin-bottom: 10px;
}

.footer .footer-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* ---------------------------- */

/* Registatrion */
.register-mango {
  position: absolute;
  right: 0;
  height: 100px;
  z-index: -1;
}

.registration-card {
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  width: 700px;
  box-shadow: -1px 3px 64px -17px rgba(0, 0, 0, 0.19);
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 3rem 5rem;
  line-height: 2.5;
}

.registration-card label {
  font-weight: 600;
}

.registration-card h1 {
  font-weight: 900;
  margin-bottom: 30px;
}

.registration-card input,
.registration-card select {
  background: #f6f8fa;
  border: none;
  border-radius: 50px;
}
.registration-card input:focus,
.registration-card select:focus {
  border: 1px solid #f6f8fa;
  background: white;
}

.registration-card button {
  border-radius: 50px;
  border: none;
  color: #fff;
  background-color: #ff4e4e;
  font-weight: 800;
  font-size: 20px;
  padding: 2px 0px;
  width: 100%;
}

.registration-card button:hover {
  cursor: pointer;
}

.mlh-link {
  text-decoration: none;
  color: black;
}

.mlh-link:hover {
  cursor: pointer;
  color: #ff4e4a;
  text-decoration: none;
}

/* ---------------------------- */

@media only screen and (max-width: 750px) {
  .registration-card {
    width: 550px !important;
    padding: 4rem;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .registration-card {
    width: 490px !important;
    padding: 4rem;
    padding: 2rem 1.8rem;
  }
}

@media only screen and (max-width: 480px) {
  .registration-card {
    width: 350px !important;
    padding: 4rem;
    padding: 2rem 1.8rem;
  }
}

@media only screen and (max-width: 390px) {
  .registration-card {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
